.grid-parent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 100px 100px;
	row-gap: 10px;
	column-gap: 10px;
}

.child1,
.child2,
.child3,
.child4,
.child5,
.child6,
.child7 {
	background-color: #7fffd4;
	border: dotted 1px #000;
}

.container {
	display: flexbox;
}

.item {
	margin: 5px;
	border: solid 1px #00ff7f;
	background-color: #87c3fa;
}
